@use "../variables";
@use "../mixins";

.downloads {
  @media (max-width: 659px) {
    @include mixins.container;
  }

  padding-top: 28px;
  padding-bottom: 38px;

  color: variables.$color-light-base;
  font-weight: 300;

  @media (min-width: variables.$tablet-width) {
    width: 300px;
    padding-bottom: 119px;
    position: relative;
    z-index: 1;
  }

  @media (min-width: variables.$desktop-width) {
    padding-bottom: 130px;
    position: relative;
  }

  &__button {
    @include mixins.reset-link;

    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    min-height: 55px;
    padding: 14px;

    font-size: 18px;
    line-height: 18px;
    font-weight: 700;
    text-align: center;
    border: solid 3px variables.$color-light-base;
    border-radius: 29px;

    @media (min-width: variables.$desktop-width) {
      font-size: 21px;
      min-height: 56px;
    }
  }

  &__list {
    @include mixins.reset-list;

    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    padding: 38px 38px 31px;
  }

  &__text {
    margin-top: 0;
    font-size: 14px;
    line-height: 24px;
    font-weight: 300;
    text-align: center;

    @media (min-width: variables.$tablet-width) {
      font-size: 18px;
    }

    &:last-of-type {
      margin-bottom: 0;
    }
  }
}
