@use "../_variables.scss";

.header-wrapper {
  background-image: url("../../img/backgrounds/back-mobile.png");
  background-color: variables.$color-dark-background;
  background-repeat: no-repeat;
  background-size: 100%;
}
