@use "../variables.scss";
@use "../mixins";

.intro {
  @media (max-width: 659px) {
    @include mixins.container;
  }

  position: relative;
  padding-top: 18px;

  @media (min-width: variables.$tablet-width) {
    width: 300px;
    position: static;
  }

  &--form {
    padding-top: 36px;
    padding-bottom: 51px;
  }

  &--catalog {
    padding-top: 36px;
    padding-bottom: 84px;
  }

  &__title {
    margin-top: 0;
    margin-bottom: 34px;

    @media (min-width: variables.$tablet-width) {
      margin-bottom: 39px;
      padding: 0 30px;
    }
  }

  &__img {
    @media (max-width: 659px) {
      display: block;
      position: relative;
      left: -20px;
      bottom: 0;
    }

    @media (min-width: variables.$tablet-width) {
      display: block;
      position: absolute;
      right: 0;
      bottom: 0;
    }
  }
}
