@use "../_variables.scss";
@use "../_mixins";

.prices {
  @include mixins.container;

  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 127px;
  padding-bottom: 49px;

  &__table {
    margin-bottom: 45px;
  }
}
