@use "variables.scss";
@use "mixins";

*,
*::before,
*::after {
  box-sizing: border-box;
}

.basic-text {
  font-size: 14px;
  line-height: 24px;
  font-weight: 300;
  text-align: center;
}

.section-title-text {
  font-size: 24px;
  line-height: 120%;
  font-weight: 300;
  text-align: center;

  @media (min-width: variables.$tablet-width) {
    font-size: 40px;
  }

  @media (min-width: variables.$desktop-width) {
    font-size: 50px;
  }
}

