:root {
  --background-color-basic: #ffffff;
  --background-color-second: #f2f2f2;
  --background-color-alt-base: rgba(0, 0, 0, 0.3);
  --background-color-alt-basic: #1d2631;
  --background-color-alt-second: #283645;
  --text-color-basic: #000000;
  --text-color-second: #283645;
  --text-color-accent: #d22856;
  --text-color-alt-basic: #ffffff;
}
