$color-dark-base: #000000;
$color-dark-second: #283645;
$color-light-base: #ffffff;
$color-accent-base: #d22856;
$color-accent-second: #2aab6d;

$color-dark-background: #1d2631;
$color-light-background: #f2f2f2;
$color-substrate-background: #e5e5e5;

$container-width: 320px;
